<div class="app-title">
    <div>
        <h1><i class="fa fa-pie-chart"></i> Charts</h1>
        <p>Various type of charts for your project</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">charts</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Line Chart</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="chart chart-line embed-responsive-item" chart-type="StackedBar" chart-data="stackdata" chart-labels="ct.chartLineLabels" chart-options="stackoptions" chart-series="stackseries"></canvas>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Bar Chart</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
            </div>
        </div>
    </div> -->
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Radar Chart</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas id="radar" class="chart chart-radar" chart-options="ct.chartRadarOptions" chart-colours="vt.chartRadarColours" chart-data="vt.chartRadarCharts" chart-labels="vt.chartRadarLabels">
                        </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Polar Chart</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="chart chart-polar embed-responsive-item" chart-data="piedata" chart-labels="pielabels" chart-options="pieoptions"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Pie Chart</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="chart chart-pie embed-responsive-item" chart-data="piedata" chart-labels="pielabels" chart-options="pieoptions"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Doughnut Chart</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="chart chart-doughnut embed-responsive-item" chart-data="piedata" chart-labels="pielabels" chart-options="pieoptions"></canvas>
            </div>
        </div>
    </div>
</div>