<div class="app-title">
    <div>
        <h1><i class="fa fa-pie-chart"></i> Charts</h1>
        <p>Various type of charts for your project</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">charts</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Line Chart</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas chart-options="vt.chartLineOptions" id="line" class="chart chart-line embed-responsive-item" chart-data="vt.chartLineCharts" chart-labels="vt.chartLineLabels" chart-legend="true" chart-series="vt.chartLineSeries" chart-colours="vt.chartLineColours">
                        </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Bar Chart</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas chart-options="vt.chartLineOptions" id="line" class="chart chart-bar embed-responsive-item" chart-data="vt.chartLineCharts" chart-labels="vt.chartLineLabels" chart-legend="true" chart-series="vt.chartLineSeries" chart-colours="vt.chartLineColours">
                        </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Radar Chart</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas id="radar" class="chart chart-radar embed-responsive-item" chart-options="vt.chartRadarOptions" chart-colours="vt.chartRadarColours" chart-data="vt.chartRadarCharts" chart-labels="vt.chartRadarLabels">
                        </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Polar Chart</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas id="polar" class="chart chart-polarArea embed-responsive-item" chart-options="vt.chartPieOptions" chart-data="vt.chartPieCharts" chart-colours="vt.chartPieColours" chart-labels="vt.chartPieLabels"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Pie Chart</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas id="pie" class="chart chart-pie embed-responsive-item" chart-options="vt.chartPieOptions" chart-data="vt.chartPieCharts" chart-colours="vt.chartPieColours" chart-labels="vt.chartPieLabels"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">Doughnut Chart</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="chart chart-doughnut embed-responsive-item" chart-data="piedata" chart-labels="pielabels" chart-options="pieoptions"></canvas>
            </div>
        </div>
    </div>
</div>